{% extends "dashboard-2.html" %}
{%block title%}About{%endblock%}
{% block body %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card-box">
            <p>
                When online users search for information regarding health controversial issues, the presence of spam, rumors and fake content is unpreventable, which in turn reduces the value of information contained in the tweets.
   Checking the validity of information available in Twitter is challenging, especially for controversial health issues.
   TweetChecker is a real time Twitter streaming analytical pipeline from scratch using amazon AWS.
   The tool for evaluating controversial health events in real-time can be used effectively by security analysts, organizations, and professional agencies that want to monitor content of its interest on Twitter.
        </p>
        </div>
    </div>
</div>
{% endblock %}